<header></header>
<div class="header-block"></div>
<div class="content" id="content">
  <div class="container-fluid contact">
    <div class="row">
      <form ng-submit="submit()">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="name" class="fill_parent">Name</label>
              <input type="text" id="name" placeholder="Jo Glunck"
                     ng-model="form.name"
                     required autofocus>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="email" class="fill_parent">Email</label>
              <input type="email" id="email" placeholder="Anfrage"
                     ng-model="form.email"
                     required>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="subject" class="fill_parent">Betreff</label>
              <input type="text" id="subject" placeholder="Anfrage"
                     ng-model="form.subject"
                     required>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="message" class="fill_parent">Nachricht</label>
            <textarea id="message" placeholder="Hallo!"
                      ng-model="form.text"
            ></textarea>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <img src="https://www.google.com/recaptcha/intro/images/hero-recaptcha-demo.gif" class="fill_parent"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <input type="submit" value="Abschicken" ng-disabled="!formIsValid()" class="button fill_parent">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="footer-block"></div>
<footer></footer>
