<div class="improv_and_us">
  <div class="landing_content center-child">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="video">
            <ng-video thumb-url="./images/explain.jpeg"
                      title="Wer sind wir?"
                      description="Lernen Sie Kanonenfutter kennen"
                      video-url="https://www.youtube.com/embed/6cawdNrfNmU">
            </ng-video>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="video">
            <ng-video thumb-url="./images/explain.jpeg"
                      title="Was ist Improtheater?"
                      description="Ein kurzer Einblick in die Welt des Improtheaters"
                      video-url="https://www.youtube.com/embed/6cawdNrfNmU">
            </ng-video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>