<div class="offers">
  <div class="landing_content center-child">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	<div class="heading">Show-Formate</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 center-child">
            <div class="offer_item">
              <a href="#"><ng-image image-url="images/crime.png" hover-effect="zoom"></ng-image></a>
              <a href="#"><h3>Krimi</h3></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 center-child">
          <div class="offer_item">
            <a href="#"><ng-image image-url="images/langform.png" hover-effect="zoom"></ng-image></a>
            <a href="#"><h3>Story</h3></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4
                    col-sm-offset-3 col-md-offset-0
                    center-child">
          <div class="offer_item">
            <a href="#"><ng-image image-url="images/show.png" hover-effect="zoom"></ng-image></a>
            <a href="#"><h3>Show</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>