<div class="one">
  <div class="landing_content center-child">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10
                    col-lg-offset-1 col-md-offset-1">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="slogan">
                <div>Kein Skript</div>
                <div>Deine Idee</div>
                <div>Viele Geschichten</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="video">
                <ng-video thumb-url="./images/explain.jpeg"
                          title="Was ist Impro?"
                          description="Ein kurzer Einblick in die Welt des Improtheaters"
                          video-url="https://www.youtube.com/embed/6cawdNrfNmU">
                </ng-video>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="video">
                <ng-video thumb-url="./images/explain.jpeg"
                          title="Wer sind wir?"
                          description="Lernen Sie Kanonenfutter kennen"
                          video-url="https://www.youtube.com/embed/6cawdNrfNmU">
                </ng-video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>