<header></header>
<div class="header-block"></div>
<div class="landing_story">
  <div class="landing_content center-child">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8
                    col-lg-offset-2 col-md-offset-1">
        	<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-child">
              <div class="slogan">
                <div>Kein Skript</div>
                <div>Deine Idee</div>
                <div>Viele Geschichten</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="video">
                <ng-video thumb-url="./images/explain.jpeg"
                          title="Was ist Impro?"
                          description="Ein kurzer Einblick in die Welt des Improtheaters"
                          video-url="https://www.youtube.com/embed/6cawdNrfNmU">
                </ng-video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-block"></div>
<footer></footer>