<header></header>
<div class="header-block"></div>
<div class="content" id="content">
  <div class="container-fluid videos">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 gridbox">
        <ng-video thumb-url="./images/gallery/003.jpg"
                  title="Replay der Fitness"
                  description="Couchpotato Karl Heinz gewinnt ein tödliches Fitness-Training."
                  video-url="https://www.youtube.com/embed/6cawdNrfNmU">
        </ng-video>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 gridbox">
        <ng-video thumb-url="./images/gallery/019.jpg"
                  title="Replay der Fitness"
                  description="Couchpotato Karl Heinz gewinnt ein tödliches Fitness-Training."
                  video-url="https://www.youtube.com/embed/6cawdNrfNmU">
        </ng-video>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 gridbox">
        <ng-video thumb-url="./images/gallery/026.jpg"
                  title="Replay der Fitness"
                  description="Couchpotato Karl Heinz gewinnt ein tödliches Fitness-Training."
                  video-url="https://www.youtube.com/embed/6cawdNrfNmU">
        </ng-video>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 gridbox">
        <ng-video thumb-url="./images/gallery/011.jpg"
                  title="Replay der Fitness"
                  description="Couchpotato Karl Heinz gewinnt ein tödliches Fitness-Training."
                  video-url="https://www.youtube.com/embed/6cawdNrfNmU">
        </ng-video>
      </div>
    </div>
  </div>
</div>
<div class="footer-block"></div>
<footer></footer>
